:root {
    --input-size: 50px;
}

body {
    display: flex;
    color: #000;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.game-block {
    display: flex;
    position: relative;
    flex-grow: 1;
    background: rgb(155, 0, 220);
    overflow-y: scroll;
    overflow-x: hidden;
}

.game-block::before {
    top: 0;
    content: '';
    background: linear-gradient(rgb(70, 0, 120), rgb(155, 0, 220));
    width: 100%;
    height: 100%;
}

.right-bar {
    display: flex;
    flex-direction: column;  
    background: #222;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.title-block {
    flex-grow: 0;
    padding: 20px;
    font-size: 130%;
}

.footer-block {
    flex-grow: 0;
    padding: 20px;
    background: #444;
}

.footer-block a {
    color: rgb(223, 171, 1);
    text-decoration: none;
}

.options-block, .tools-block {
    display: flex;
    padding: 20px;
    padding-top: 0px;
    color: #fff;
    flex-direction: column;
}

.tools-block {
    flex-grow: 1;
}

.tools-line {
    display: flex;
    gap: 5px;
}

.tools-line .pattern.active {
    background: linear-gradient(-45deg, rgb(206, 117, 0), rgb(223, 171, 1));
}

.layout {
    position: absolute;
}

#gameLayout {
    z-index: 1;
}

#overlapLayout {
    z-index: 2;
}

.field, .btn {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px 0px;
    border: 1px solid #999;
    text-transform: uppercase;
    height: var(--input-size);
    max-width: calc((var(--input-size) * 3) + (5px * 2));
    min-width: var(--input-size);
    box-sizing: border-box;
}

.field {
    padding: 0px 10px;
    margin-bottom: 2px;
    outline-style: none;
}

.field:invalid {
    background: linear-gradient(rgb(192, 71, 97), rgb(255, 108, 140));
    color: #fff;
}

.btn {
    border: 0px;
    cursor: pointer;
    transition: all 1s;
    margin: 2.5px 0px;
    color: #fff;
    background: linear-gradient(-45deg, rgb(70, 0, 120), rgb(155, 0, 220));
}

.btn:disabled {
    opacity: 0.5;
    cursor: default;
}

.btn[value='BUILD'] {
    background: linear-gradient(-45deg, rgb(206, 117, 0), rgb(223, 171, 1));
}

.btn[value='START'] {
    background: linear-gradient(-45deg, rgb(103, 114, 2), rgb(150, 200, 0));
}

.btn[value='PAUSE'] {
    background: linear-gradient(-45deg, rgb(192, 71, 97), rgb(255, 108, 140));
}

.btn[data-pattern-checked=true] {
    background: linear-gradient(-45deg, rgb(206, 117, 0), rgb(223, 171, 1));
}