:root {
    /* sizes */
    --input-size: 50px;

    /* main colors */
    --text-color: rgba(255, 255, 255, 0.9);
    --text-color--disabled: rgba(255, 255, 255, 0.5);
    --shadow-color: rgba(0, 0, 0, .2);

    /* colors */
    --purple-color: rgb(120, 40, 205);
    --orange-color: rgb(220, 125, 5);
    --green-color: rgb(125, 160, 20);
    --pink-color: rgb(215, 70, 105);
    --gray-color: rgb(130, 130, 130);
}

html {
    display: flex;
    width: 100%;
    height: 100%;
}

body {
    flex-grow: 1;
    display: flex;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #222;
}

/* main block */
#gameContainer {
    flex-grow: 1;
    display: flex;
    position: relative;
    background: var(--purple-color);
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

#gameLayout {
    z-index: 0;
}

#overlapLayout {
    z-index: 1;
}

#gridLayout {
    z-index: 2;
}

.layout {
    position: absolute;
}

/* right block */
.right-bar {
    flex-grow: 0;
    display: flex;
    flex-direction: column;  
    text-align: center;
    color: #fff;
}

.title-block {
    flex-grow: 0;
    padding: 20px;
    font-size: 130%;
    text-transform: uppercase;
    text-shadow: 0 2px 0px var(--purple-color);
}

.options-block {
    display: flex;
    padding: 20px;
    padding-top: 0px;
    color: var(--text-color);
    flex-direction: column;
}

.options-line {
    display: flex;
    gap: 5px;
}

.tools-block {
    flex-grow: 1;
}

.repo-block {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    background: #444;
    padding: 10px 20px;
}

.repo-block .repo-info {
    display: flex;
    flex-direction: column;
    font-size: 90%;
    justify-content: center;
    align-items: flex-start;
}

.repo-block .repo-description {
    font-size: 70%;
    opacity: 0.5;
}

.repo-block .user-avatar {
    width: var(--input-size);
    height: var(--input-size);
    border-radius: 10px;
    border-top: 2px solid #00000000;
    margin-right: 10px;
}

.repo-block .user-avatar[src=""] {
    /* empty image */
    content:url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
    border-radius: 50%;
    border-top: 2px solid var(--orange-color);
    animation: spinner 0.5s linear infinite;
}

.repo-block .link {
    color: var(--orange-color);
    text-decoration: none;
    text-transform: uppercase;
}

/* inputs */
.field, .btn {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px 0px;
    border: 0;
    text-transform: uppercase;
    height: var(--input-size);
    max-width: calc((var(--input-size) * 3) + (5px * 2));
    min-width: var(--input-size);
    box-sizing: border-box;
}

.field {
    font-size: 130%;
    padding: 0px 10px;
    margin-bottom: 2px;
    outline-style: none;
    border-top: 3px solid var(--shadow-color);
    padding-bottom: 3px;
}

.field:invalid {
    background: var(--pink-color);
    color: var(--text-color);
}

.btn {
    border: 0px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 2.5px 0px;
    color: var(--text-color);
    background: var(--purple-color);
    border-bottom: 3px solid var(--shadow-color);
    text-shadow: -1px -1px 0px var(--shadow-color);
    font-size: 100%;
}

.btn.pattern:empty {
    opacity: 0;
}

.btn.btn-build {
    background: var(--orange-color);
}

.btn.btn-start {
    background: var(--green-color);
}

.btn.btn-pause {
    background: var(--orange-color);
}

.btn.btn-stop {
    background: var(--pink-color);
}

.btn[data-pattern-checked=true] {
    background: var(--orange-color);
}

.btn svg {
    filter: drop-shadow(-1px -1px 0px var(--shadow-color));
}

.btn path, .btn rect{
    fill: var(--text-color);
}

.btn:disabled path, .btn:disabled rect{
    fill: var(--text-color--disabled);
}

.btn:active {
    border-bottom: 0 solid #00000000;
}

.btn:disabled {
    color: var(--text-color--disabled);
    background: var(--gray-color);
    cursor: default;
}

/* animations */
@keyframes spinner {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }  
}